# Flaha Agri Tech
# Precision Agriculture Division
# Copyright © 2026–2027 Flaha Agri Tech. All rights reserved.
#
# Title: Daily backup timer (small host)
# Introduction: First of each month 03:00 UTC. Trial host is not daily-backup.
#
# Created by: Rafat Al Khashan
# Created date: 2026-08-19
# Last modified: 2026-08-19

[Unit]
Description=FlahaINTEL daily backup

[Timer]
OnCalendar=*-*-01 03:00:00
Persistent=true
AccuracySec=5min
Unit=flahaintel-backup.service

[Install]
WantedBy=timers.target
